@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

:root {
  --backgroundColor: #0b0d17;
  --subTextColor: #d0d6f9;
  --text: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Bellefair", sans-serif;
  list-style-type: none;
  color: var(--text);
}

body {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: black;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.line {
  width: 25%;
}

.hidden {
  display: none;
}

header {
  display: flex;
  width: 100%;
  padding: 50px 0 10px 50px;
}

span {
  display: inline-block;
  margin-right: 0.5em;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.logo {
  margin-right: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 75px;
  background-color: rgba(124, 124, 124, 0.5);
  backdrop-filter: blur(5px);
}

.logo-container hr {
  position: relative;
  border: 1px solid rgba(124, 124, 124, 0.5);
  width: 100%;
  left: 15px;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.nav-btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.nav-btn:hover {
  border-bottom: 2px solid #aaa;
}

.nav-btn:active {
  border-bottom: 2px solid #fff;
}

.active {
  border-bottom: 2px solid #fff;
}

.first-text {
  position: relative;
  top: 100px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 30px;
  color: var(--text);
}

.first-text h3 {
  color: #aaa;
  margin-right: 20px;
  font-family: "Belleair";
  font-size: 30px;
}

.content-container {
  width: 100%;
  display: flex;
  position: relative;
  top: 200px;
}

.nav-destination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-bottom: 10%;
}

.img-container {
  margin-left: 15%;
}

.nav-destination-links {
  display: flex;
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 50%;
}

.nav-destination-links li {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-destination-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-destination-btn:hover {
  border-bottom: 2px solid #aaa;
}

.nav-destination-btn:active {
  border-bottom: 2px solid #fff;
}

.title-destination {
  font-size: 120px;
}

.title-desc-container {
  flex-basis: 100%;
}

.title-desc-container hr {
  width: 60%;
}

.destination-description {
  width: 60%;
  margin-bottom: 30px;
  font-size: 25px;
  color: var(--subTextColor);
}

.details-container {
  margin-top: 5%;
  display: flex;
}

.details {
  margin-right: 10%;
}

.detail-title {
  color: var(--subTextColor);
  padding-bottom: 20px;
}

.detail-content {
  font-size: 30px;
}

@media (max-width: 1340px) {
  header {
    padding: 0 0 0 50px;
  }

  span {
    display: none;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 150px;
  }

  .img-destination {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 50px;
  }

  .img-container {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-destination-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .nav-destination {
    margin-left: 0;
  }

  .title-destination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .destination-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }

  .logo {
    padding-top: 20px;
  }

  .title-destination {
    font-size: 80px;
  }

  .first-text {
    top: 50px;
    width: 100%;
    justify-content: flex-start;
    left: 0;
    padding-left: 50px;
  }

  .details-container {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .details {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #top-line {
    display: none;
  }

  #bottom-line {
    width: 60%;
    margin-left: 20%;
  }

  #detail-distance {
    margin-left: 10%;
  }

  #detail-time {
    margin-right: 10%;
  }

  @media (max-width: 700px) {
    .nav-container {
      display: none;
    }

    .menu-button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 50px;
      left: 90%;
      top: 2%;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      z-index: 3;
    }

    .menu-button-burger {
      width: 40px;
      height: 6px;
      background-color: var(--text);
      transition: all 0.5s ease-in-out;
    }

    .mobile-menu {
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
      height: 100%;
      background-color: rgba(124, 124, 124, 0.5);
      backdrop-filter: blur(30px);
      z-index: 2;

      -webkit-animation: linear;
      -webkit-animation-name: run;
      -webkit-animation-duration: 0.3s;
    }

    @-webkit-keyframes run {
      0% {
        left: 100%;
      }
      100% {
        left: 50%;
      }
    }

    .mobile-menu-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 60%;
      margin-left: 15%;
      font-size: 30px;
    }

    .mobile-menu-links li {
      display: flex;
      margin-bottom: 10%;
    }

    .menu-button-burger::before,
    .menu-button-burger::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 6px;
      background-color: var(--text);
      transition: all 0.5s ease-in-out;
    }

    .menu-button-burger::before {
      transform: translateY(-14px);
    }

    .menu-button-burger::after {
      transform: translateY(14px);
    }

    .menu-button.open .menu-button-burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }

    .menu-button.open .menu-button-burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-button.open .menu-button-burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }

    .nav-btn:hover {
      border-bottom: none;
    }

    .details-container {
      flex-direction: column;
      margin-top: 30px;
    }

    .detail-content {
      margin-bottom: 20px;
    }

    #detail-distance {
      margin-left: 0;
    }

    #detail-time {
      margin-right: 0;
    }

    span {
      display: inline;
    }
  }
}
