@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

:root {
  --backgroundColor: #0b0d17;
  --subTextColor: #d0d6f9;
  --text: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Bellefair", sans-serif;
  color: var(--text);
}

body {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.line {
  width: 25%;
}

header {
  display: flex;
  width: 100%;
  padding: 50px 0 10px 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.logo {
  margin-right: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 75px;
  background-color: rgba(124, 124, 124, 0.5);
  backdrop-filter: blur(5px);
}

.logo-container hr {
  position: relative;
  border: 1px solid rgba(124, 124, 124, 0.5);
  width: 100%;
  left: 15px;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.nav-btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.nav-btn:hover {
  border-bottom: 2px solid #aaa;
}

.nav-btn:active {
  border-bottom: 2px solid #fff;
}

.active {
  border-bottom: 2px solid #fff;
}

.first-text {
  position: relative;
  top: 100px;
  left: 250px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  font-size: 30px;
  color: var(--text);
}

.first-text h3 {
  color: #aaa;
  margin-right: 20px;
  font-family: "Belleair";
  font-size: 30px;
}

.title-tech {
  font-size: 50px;
  padding-bottom: 20px;
}

.title-tech-container {
  position: relative;
  top: 250px;
  left: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  font-size: 30px;
  color: var(--text);
}

.tech-role {
  color: var(--subTextColor);
  padding-bottom: 30px;
  font-size: 20px;
}

.tech-description {
  width: 50%;
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--subTextColor);
}

.content-container {
  display: flex;
}

.img-container {
  position: relative;
  top: 100px;
  left: 200px;
}

.tech-picker {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 250px;
  left: 150px;
}

.picker-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 30px;
}

.picker-btn:hover {
  background-color: white;
  color: black;
}

.picker-active {
  background-color: white;
  color: black;
}

@media (max-width: 1340px) {
  header {
    padding: 0 0 0 50px;
  }

  .first-text {
    top: 50px;
    width: 100%;
    justify-content: flex-start;
    left: 0;
    padding-left: 50px;
  }

  #top-line {
    display: none;
  }
}
